NEXT_PUBLIC_SUPABASE_URL=postgresql://postgres.texnvygvrxnvkmnfwxon:EUxBvC1WoDp54opD@aws-1-eu-west-2.pooler.supabase.com:6543/postgres
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_FSHP71RN1FlitdcQK5T_3Q_l9oZ8ca0
OPENAI_API_KEY=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
UNSPLASH_ACCESS_KEY=07qyC2wFXGNaqTtctRd8xDTSlAjaANb_xlV692iH8HM


